#div-1{
    background-color: orange;
    margin: 50px ;
  
    height: 170px;
    text-align: center;
    padding: 20px;
}
.input{
    padding: 10px;
    margin-top: 10px;

}
.btn-1{
    padding: 10px;
    background-color: skyblue;
    margin-top: 10px;
}